%footer
  .notice
    %p
      “Progress, not perfection”. This project is maintained by Tigerspike AMER XD Team. Have an idea?
      =link_to 'Submit your work', '/contribute.html', :onclick => 'trackCustomEvent("Submit your work", "Footer", 1);'
