---
title: Playbook - About
body_class: base
description: At Tigerspike, we believe experience is everything. This is our approach to designing experiences.
---

.container
  .base_wrapper

    %h2 About the vision
    %p
      Our goal is to commit our teams to creation of an intentionally constructed and shared mental model, in order to streamline our ways of communicating and to standardize how we talk about our design process.

    <br />

    %h2 About this work
    %p
      This is the draft version of our Experience Design playbook, written by and for the Tigerspike Team. It is a living document that contains advice and answers that were written to help guide you through each phase of delivery process from our team's perspective.
      It also explains some of the methods we use to design customer-centric web and mobile products.

    %p
      These articles are intended to be guidelines, not gospel. We are continually learning and growing and expect our process will grow and change along with us.
      Each of the techniques and methods should be tailored to the individual project you're working on. If you're unsure of how to make a particular technique or method work within the constraints of your project,
      talk to your senior designer or drop a note on Slack to the larger team.

    <br />

    %h2 About our team
    %p
      We believe in putting passion into everything we do, so of course we wanted to reflect that here!
      %ul.values
        Our team values:
        %li Educating our team and our clients
        %li Taking on problems together in an inclusive way
        %li Creating a culture people want to invest in
        %li Transparency in our work and our process
        %li Letting people know where you're at and how they can help
        %li Bringing something to the table to share with the team
        %li Showing up and being present
        %li Being proactive in your communication
        %li Taking the initiative to organize

    <br />

    %h2 Contributing to the playbook
    %p
      We love new ideas that push this repository and design sprints forward. Please review the
      =link_to 'contributing guidelines', '/contribute.html'
      if you'd like to help out!

    <br />
