---
title: Playbook - Submissions
body_class: default
description: We need your help to make the Playbook a valuable resources for the entire team
---

.container
  .base_wrapper

    %h1.border Want to submit?
    %p
      There are currently three ways to contribute. Two of them involve writing, but one is just sending a link! Here they are, in order of hardest to easiest:

    %h3 Write about a Method or Tool
    %p
      The first way to contribute is to write an article about a method or tool that we don't have up on the site yet (check out our
      %a{:href => "https://trello.com/b/0fS2ICuY/playbook-tasks-assignments"}
        backlog</a>, or just think of your own). Method and tool articles should be a comprehensive account of how and why we do a particular activity. If you go this route, we have a
      %a{:href => "https://docs.google.com/document/d/1Zs5hGmqRBfZdr4qPmbhxwUyyfTXRWVfqp-OgF3w6fdo/edit#"}
        template</a> you can use, just drop us a line to let us know what you're working on, and how we can help.

    %h3 Write a blog-y post about anything you want
    %p
      The second way to contribute is perhaps the most fun, and involves writing something we're calling an 'advice column' for lack of a better term (any ideas?). Unfortunately we don't have any examples yet, but we're imaging they would be more subjective then an aritcle. More blog post-y. More "this is just some thoughts I had about something I've done". If you've been thinking about writing more but don't know where to start, this is for you.
    %h3 Just link to something cool you made
    %p
      Finally, if you're not into writing (fair enough!) but you made something cool you want to share, you could just send us a link.
    %p
      Whichever way you choose, you can use this Typeform to enter your name, email, and a link to whatever you want to share.

    = partial 'partials/typeform'

    %p
      If you have more to say than a form can handle, or want help fleshing out an idea, you can always email us at:
      %a{:href => "mailto:playbook@tigerspike.com"}
        playbook@tigerspike.com</a>.
