---
title: Playbook - FAQs
body_class: faqs
description: At Tigerspike, we believe experience is everything. This is our approach to designing experiences.
---

.container
  .base_wrapper

    %h1.border FAQs

    %h3 What is the Playbook?
    %p
      It’s a resource conceived by the XD team to share our plays, which are the <strong>methods</strong> and <strong>tools</strong> we use to solve problems. We made it so that we can be more consistent in how we talk about our work, even as our process evolves.
    %p
      Think patterns, not templates. Guide, not gospel.

    %h3 Are there templates? I thought there would be templates.
    %p
      With the Playbook, our goal was to avoid just linking to a bunch of templates that don’t provide any context on how they should be used, or how they fit into a design process. And we know that each project we do requires creativity and customization that make it difficult to work within a templated framework. For these reasons, we thought it would be more useful to show people examples of our best work.
    %p
      That said, our goal is to give you whatever you need to make your workflow easier, and to that end you will see the occasional link to a template (for example, User Flows). If you’re currently using templates that you think would be useful to put on the Playbook, let us know, and we’ll happily include them.

    %h3 I’ve never heard Tigerspike talk about methods and tools. Is this a new distinction?
    %p
      Yep! When we observed design teams doing their thing, we noticed that we often rely on two different categories of design activities, which we have decided to call methods and tools. On the one hand, our designers work within the structure of the SOW, which means they are on the hook for delivering certain deliverables to clients. These deliverables are usually agreed upon before the work begins, and form the basis of client expectations. We are calling these kinds of activities <strong>methods</strong>. They are sold to clients up front, are included in the SOW, and are linked to specific deliverables. Beyond these methods, we noticed that our teams use other activities that aren't necessarily in the SOW, but that support the production of client facing work. We are calling these kinds of activities <strong>tools</strong>.
    %p
      For example, imagine a client engages Tigerspike to help them with the content on their website. The business development and client services teams might propose Content Strategy (method), which, the Playbook tells us, is “a broad method to help digital product owners organize, create, and sustainably plan for on-brand and design-appropriate content.”
    %p
      The specifics of Content Strategy depend on the particular needs of the product, but might include a content audit, content modeling, a content inventory, editorial content recommendations, a content vision document or an IA structure. When the design team starts working on a project, they may decide that in this particular case, they need to do a content audit and content modeling in order to arrive at the final deliverable for the client, which is the Content Strategy.
    %p
      Tldr; Methods are sold to clients, tools are used at the discretion of the design team.

    %h3 I browsed some of the methods and tools and noticed that I do things a little differently. Does this mean I need to change how I do a user interview or make a prototype?
    %p
      Definitely not. The Playbook is not meant to tell people how to do things, but to share guidance and war stories with each other. If you have a tried and true way of making prototypes that’s working for you, stick with that. Better yet, send us an email and tell us about it! Eventually, we hope that the Playbook will grow to showcase the many variations we have for each method and tool.

    %h3 Why is this distinct from the other Tigerspike microsites?
    %p
      Playbook is a grassroots project started by a group of designers in the AMER region, and this is one of the things we love about it. While we hope to become a global resource with global contribution, we are still waiting to see how it organically evolves to fit with other parts of the Tigerspike delivery process and brand.

    %h3 I’m a senior designer and already know how to do a lot of these things, so it doesn’t seem like there is anything here for me.
    %p
      It’s true that in the MVP iteration, the Playbook is probably most useful for new designers and those onboarding to Tigerspike. But we’re hoping that Playbook grows to contain useful plays for even the most expert designers among us.
    %p
      One way we hope this will happen is by expanding the content that is available to include not just methods and tools, but advice columns that let us share our experiences with each other. Maybe you’d like to tell us about your experience with trauma-informed design (ahem, Tristan). Or maybe you’d like to share what it was like to lead the Art Direction for a global client (ahem, Panda). Or maybe you’d like to talk about what it's like to launch an internal tool like Catalyst (ahem, Michal).
