---
title: Playbook - Phases
body_class: base
---

.container
  .base_wrapper

    %h2 Discovery Phase
    .phase-description
      Purpose: Discovering information

    %p
      As the first phase of a project, the Discovery Phase involves information gathering that lays the groundwork for designing and building a product. During Discovery, the design team talks to both stakeholders and users to learn about their expectations and needs, and to understand the wider context for the project. Additionally, the design team will often do research into the market to find out what others are designing, and what problems they have encountered.

    %p
      The Discovery Phase is needed in order to know the problem that you are designing for in subsequent stages. It's also a time for designers to do due diligence and begin to define the parameters of the project.


    <br />

    %h2 Define Phase
    .phase-description
      Purpose: Defining the problem

    %p
      Whereas the Discovery Phase is about gathering information, the Define Phase translates that data into learnings. These learnings are then distilled into actionable plans with prioritized tasks that help create the product roadmap.

    %p
      Without Product Definition, learnings from Discovery are lost. Through analysis of the research, we can make assumptions about our users, address their biggest pain points, and take those findings into actionable tasks that can be prioritized into design and build phases. Iterative testing against the assumptions and hypotheses helps shape the product into more than just the Minimum Viable Product, but the Minimum *Lovable* Product. Making a meaningful, impactful experience is key to winning not only conversions, but long term usage or return visits.


    <br />

    %h2 Design Phase
    .phase-description
      Purpose: Designing the solutions

    %p
      As opposed to the Define Phase where creative direction might be established as a general framework, the Design Phase is more about making a tractable and complete system of the product across the platform as a whole that can be used to build the complete product. The concepts need to be carried through in a way that represents a feasible and complete solution. To create an actionable and accurate design system, solid understanding of both the project and product are needed.

    %p
      Often, the objective of the Design Phase is to create a impeccably executed, ostensible, scaleable, comprehensive visual system that can be used to build the complete product. In order to achieve this, open and frequent collaboration with developers is required from early on to ensure that design solutions are realistic and delivery is feasible.
